<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" value="Pastebin alternative written in Golang">
    <meta name="keywords" value="pastebin, golang, selfhosted">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="container">
    
    {{template "header.html" .username}}
    
    <div class="row justify-content-center">
        <div class="col-9">
            <h2 class="display-1 text-center mt-5"><span class="badge bg-danger rounded-pill">{{ .errorCode}}</span> {{ .errorText}}</h2>
            {{if .errorMessage}}
            <p class="lead text-center">{{ .errorMessage }}</p>
            {{end}}
        </div>
    </div>

    {{template "footer.html" .version}}

</body>
</html>
