<!DOCTYPE html>
<html lang="en">
    {{template "head.html" .title}}
    <body class="container">
    
    {{template "header.html" .username}}
    
    <div class="row justify-content-center">
        <div class="col-9">
            <h2 class="display-1 text-center mt-5"><span class="badge bg-danger rounded-pill">{{ .errorCode}}</span> {{ .errorText}}</h2>
            {{if .errorMessage}}
            <p class="lead text-center">{{ .errorMessage }}</p>
            {{end}}
        </div>
    </div>

    {{template "footer.html" .version}}

</body>
</html>
