<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.html" .title}}
</head>
<body class="container">
    
    {{template "header.html" . }}
    
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title text-center">New Paste</h5>
                    {{template "form.html"}}
                </div>
            </div>
        </div>
        <div class="col-3">
            {{template "sidebar.html" .pastes}}
        </div>
    </div>

    {{template "footer.html" .version}}

</body>
</html>
