<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" value="Pastebin alternative written in Golang">
    <meta name="keywords" value="pastebin, golang, selfhosted">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h1>Go PB</h1>
                <p class="lead text-muted">
                    A nice and simple pastebin alternative that you can host yourself.
                </p>
            </a>
            <ul class="navbar-nav">
                {{if .username}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {{.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarUserDropdownLink">
                        <li><a class="dropdown-item" href="/u/logout">Logout</a></li>
                        <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Account</a></li>
                        <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Prefernces</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/u/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/u/register">Register</a>
                </li>
                {{end}}
            </ul>
        </div>
    </nav>
    
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title text-center">New Paste</h5>
                    <form method="POST" action="/p/">
                        <div class="form-floating mb-3">
                            <input type="text" name="title" id="pasteTitle"  placeholder="Paste title" class="form-control" aria-describedby="titleHelpBlock">
                            <label for="pasteTitle" class="form-label text-muted">Title (optional)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="body" id="pasteBody" required value="" placeholder="" maxlength="10240" style="height: 20em; font-size: 80%;" class="form-control" aria-describedby="bodyHelpBlock"></textarea>
                            <label for="pasteBody" class="form-label text-muted">Content (max 10K)</label>
                        </div>
                        <div class="mb-5 row">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select"  id="pasteSyntax" name="syntax" aria-describedby="syntaxHelpBlock">
                                        <option value="none" selected>Plain Text</option>
                                        <option value="markup">Markup</option>
                                        <option value="css">CSS</option>
                                        <option value="clike">C-like</option>
                                        <option value="javascript">JavaScript</option>
                                        <option disabled>──────────</option>
                                        <option value="abap">ABAP</option>
                                        <option value="actionscript">ActionScript</option>
                                        <option value="ada">Ada</option>
                                        <option value="apacheconf">Apache Configuration</option>
                                        <option value="apl">APL</option>
                                        <option value="applescript">AppleScript</option>
                                        <option value="arduino">Arduino</option>
                                        <option value="arff">ARFF</option>
                                        <option value="asciidoc">AsciiDoc</option>
                                        <option value="asm6502">6502 Assembly</option>
                                        <option value="aspnet">ASP.NET (C#)</option>
                                        <option value="autohotkey">AutoHotkey</option>
                                        <option value="autoit">AutoIt</option>
                                        <option value="bash">Bash</option>
                                        <option value="basic">BASIC</option>
                                        <option value="batch">Batch</option>
                                        <option value="bison">Bison</option>
                                        <option value="brainfuck">Brainfuck</option>
                                        <option value="bro">Bro</option>
                                        <option value="c">C</option>
                                        <option value="csharp">C#</option>
                                        <option value="cpp">C++</option>
                                        <option value="coffeescript">CoffeeScript</option>
                                        <option value="clojure">Clojure</option>
                                        <option value="crystal">Crystal</option>
                                        <option value="csp">Content-Security-Policy</option>
                                        <option value="css-extras">CSS Extras</option>
                                        <option value="d">D</option>
                                        <option value="dart">Dart</option>
                                        <option value="diff">Diff</option>
                                        <option value="django">Django/Jinja2</option>
                                        <option value="docker">Docker</option>
                                        <option value="eiffel">Eiffel</option>
                                        <option value="elixir">Elixir</option>
                                        <option value="elm">Elm</option>
                                        <option value="erb">ERB</option>
                                        <option value="erlang">Erlang</option>
                                        <option value="fsharp">F#</option>
                                        <option value="flow">Flow</option>
                                        <option value="fortran">Fortran</option>
                                        <option value="gedcom">GEDCOM</option>
                                        <option value="gherkin">Gherkin</option>
                                        <option value="git">Git</option>
                                        <option value="glsl">GLSL</option>
                                        <option value="gml">GameMaker Language</option>
                                        <option value="go">Go</option>
                                        <option value="graphql">GraphQL</option>
                                        <option value="groovy">Groovy</option>
                                        <option value="haml">Haml</option>
                                        <option value="handlebars">Handlebars</option>
                                        <option value="haskell">Haskell</option>
                                        <option value="haxe">Haxe</option>
                                        <option value="http">HTTP</option>
                                        <option value="hpkp">HTTP Public-Key-Pins</option>
                                        <option value="hsts">HTTP Strict-Transport-Security</option>
                                        <option value="ichigojam">IchigoJam</option>
                                        <option value="icon">Icon</option>
                                        <option value="inform7">Inform 7</option>
                                        <option value="ini">Ini</option>
                                        <option value="io">Io</option>
                                        <option value="j">J</option>
                                        <option value="java">Java</option>
                                        <option value="jolie">Jolie</option>
                                        <option value="json">JSON</option>
                                        <option value="julia">Julia</option>
                                        <option value="keyman">Keyman</option>
                                        <option value="kotlin">Kotlin</option>
                                        <option value="latex">LaTeX</option>
                                        <option value="less">Less</option>
                                        <option value="liquid">Liquid</option>
                                        <option value="lisp">Lisp</option>
                                        <option value="livescript">LiveScript</option>
                                        <option value="lolcode">LOLCODE</option>
                                        <option value="lua">Lua</option>
                                        <option value="makefile">Makefile</option>
                                        <option value="markdown">Markdown</option>
                                        <option value="markup-templating">Markup templating</option>
                                        <option value="matlab">MATLAB</option>
                                        <option value="mel">MEL</option>
                                        <option value="mizar">Mizar</option>
                                        <option value="monkey">Monkey</option>
                                        <option value="n4js">N4JS</option>
                                        <option value="nasm">NASM</option>
                                        <option value="nginx">nginx</option>
                                        <option value="nim">Nim</option>
                                        <option value="nix">Nix</option>
                                        <option value="nsis">NSIS</option>
                                        <option value="objectivec">Objective-C</option>
                                        <option value="ocaml">OCaml</option>
                                        <option value="opencl">OpenCL</option>
                                        <option value="oz">Oz</option>
                                        <option value="parigp">PARI/GP</option>
                                        <option value="parser">Parser</option>
                                        <option value="pascal">Pascal</option>
                                        <option value="perl">Perl</option>
                                        <option value="php">PHP</option>
                                        <option value="php-extras">PHP Extras</option>
                                        <option value="plsql">PL/SQL</option>
                                        <option value="powershell">PowerShell</option>
                                        <option value="processing">Processing</option>
                                        <option value="prolog">Prolog</option>
                                        <option value="properties">.properties</option>
                                        <option value="protobuf">Protocol Buffers</option>
                                        <option value="pug">Pug</option>
                                        <option value="puppet">Puppet</option>
                                        <option value="pure">Pure</option>
                                        <option value="python">Python</option>
                                        <option value="q">Q (kdb+ database)</option>
                                        <option value="qore">Qore</option>
                                        <option value="r">R</option>
                                        <option value="jsx">React JSX</option>
                                        <option value="tsx">React TSX</option>
                                        <option value="renpy">Ren'py</option>
                                        <option value="reason">Reason</option>
                                        <option value="rest">reST (reStructuredText)</option>
                                        <option value="rip">Rip</option>
                                        <option value="roboconf">Roboconf</option>
                                        <option value="ruby">Ruby</option>
                                        <option value="rust">Rust</option>
                                        <option value="sas">SAS</option>
                                        <option value="sass">Sass (Sass)</option>
                                        <option value="scss">Sass (Scss)</option>
                                        <option value="scala">Scala</option>
                                        <option value="scheme">Scheme</option>
                                        <option value="smalltalk">Smalltalk</option>
                                        <option value="smarty">Smarty</option>
                                        <option value="sql">SQL</option>
                                        <option value="soy">Soy (Closure Template)</option>
                                        <option value="stylus">Stylus</option>
                                        <option value="swift">Swift</option>
                                        <option value="tap">TAP</option>
                                        <option value="tcl">Tcl</option>
                                        <option value="textile">Textile</option>
                                        <option value="tt2">Template Toolkit 2</option>
                                        <option value="twig">Twig</option>
                                        <option value="typescript">TypeScript</option>
                                        <option value="vbnet">VB.Net</option>
                                        <option value="velocity">Velocity</option>
                                        <option value="verilog">Verilog</option>
                                        <option value="vhdl">VHDL</option>
                                        <option value="vim">vim</option>
                                        <option value="visual-basic">Visual Basic</option>
                                        <option value="wasm">WebAssembly</option>
                                        <option value="wiki">Wiki markup</option>
                                        <option value="xeora">Xeora</option>
                                        <option value="xojo">Xojo (REALbasic)</option>
                                        <option value="xquery">XQuery</option>
                                        <option value="yaml">YAML</option>
                                    </select>
                                    <label for="pasteSyntax" class="form-label text-muted">Syntax highlighting</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select" id="pasteDeleteAfterRead" name="delete_after_read" aria-describedby="deleteafterreadHelpBlock">
                                        <option value="false" selected>No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                    <label for="pasteDeleteAfterRead" class="form-label text-muted">Delete after first read</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select" id="pasteExpires" name="expires" aria-describedby="expiresHelpBlock">
                                        <option value="never">Never</option>
                                        <option value="10m">10 minutes</option>
                                        <option value="30m">30 minutes</option>
                                        <option value="1h">1 hour</option>
                                        <option value="3h">3 hours</option>
                                        <option value="6h">6 hours</option>
                                        <option value="12h">12 hours</option>
                                        <option value="1d">1 day</option>
                                        <option value="3d">3 days</option>
                                        <option value="1w">1 week</option>
                                        <option value="2w">2 weeks</option>
                                        <option value="1M">1 month</option>
                                        <option value="6M">6 month</option>
                                        <option value="1y">1 year</option>
                                    </select>
                                    <label for="pasteExpires" class="form-label text-muted">Paste will expire after</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" name="password" id="pastePassword"  placeholder="Paste password" class="form-control" aria-describedby="pastePasswordHelpBlock">
                                    <label for="pastePassword" class="form-label text-muted">Password (optional)</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="reset" value="Clear" class="btn btn-outline-secondary btn-lg me-md-2 w-25">
                            <input type="submit" value="Paste" class="btn btn-primary btn-lg me-md-2 w-25">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-dark bg-white shadow-sm">
                <div class="card-header">
                    My Pastes (last 10)
                </div>
                {{if .pastes}}
                <div class="list-group list-group-flush">
                    {{range .pastes}}
                    <a href="/p/{{.URL}}" class="list-group-item list-group-item-action">
                        <div class="">
                            <p class="mb-1 text-truncate" title="{{if .Title}}{{.Title}}{{end}}">{{if .Title}}{{.Title}}{{else}}untitled{{end}}</p>
                        </div>
                        <p class="mb-1" style="font-size:80%">
                            <span class="badge bg-transparent text-dark fw-light text-uppercase border" title="Created">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar4-event align-text-bottom" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                </svg>
                                {{ .Created.Local.Format "Jan 2, 2006" }}
                            </span>
                            <span class="badge bg-transparent text-dark fw-light text-uppercase border" title="Expires {{ .Expiration }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-stopwatch align-text-bottom" viewBox="0 0 16 16">
                                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                                    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
                                </svg>
                                {{ .Expiration }}
                            </span>
                            <span class="badge bg-transparent text-dark fw-light text-uppercase border" title="Viewed 0 times">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-eye align-text-bottom" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                                0
                            </span>
                            <span class="badge bg-transparent text-dark fw-light text-uppercase border" title="Private">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-lock align-text-bottom" viewBox="0 0 16 16">
                                    <!--path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/-->
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                                </svg>
                            </span>
                            {{if .DeleteAfterRead }}
                            <span class="badge bg-transparent text-danger fw-light text-uppercase border border-danger" title="Delete after read">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-exclamation-triangle align-text-bottom" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                                </svg>
                            </span>
                            {{end}}
                        </p>
                    </a>
                    {{end}}
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-outline-secondary btn-sm">All my pastes</a>
                </div>
                {{else}}
                <div class="card-body">
                    <p class="card-text text-muted"><em>You will see all your pastes here once you login.</em></p>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <footer class="mt-5">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid justify-content-md-center">
                &nbsp;/&nbsp;
                <span class="navbar-text fw-light pt-0 pb-0 pe-2 ps-2"><small>
                    Created by Ilia Frenkel, 2021.
                </small></span>
                &nbsp;/&nbsp;
                <span class="navbar-text fw-light pt-0 pb-0 pe-2 ps-2"><small>version {{.version}}</small></span>
                &nbsp;/&nbsp;
                <span class="navbar-text fw-light pt-0 pb-0 pe-2 ps-2">
                    <a href="https://github.com/iliafrenkel/go-pb" class="link-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </span>
                &nbsp;/&nbsp;
            </div>
        </nav>
    </footer>
</body>
</html>
