<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.html" .title}}
</head>
<body class="container">
    
    {{template "header.html" .}}
    
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Paste password</h5>
                    <form method="POST" action="/p/{{.id}}" class="needs-validation">
                        <div class="form-floating mb-5">
                            <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
                            <label for="password" class="form-label text-muted">Password</label>
                        </div>
                        <div class="d-grid d-md-flex justify-content-md-center">
                            <input type="submit" value="Verify" class="btn btn-primary w-50">
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-danger text-center">{{ .message }}</p>
        </div>
    </div>

    {{template "footer.html" .version}}

</body>
</html>
