<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.html" .}}
</head>
<body class="container">
    
    {{template "header.html" .}}
    
    <div class="row justify-content-center">
        <div class="col-9">
            {{if .Pastes}}
                <h5 class="card-title text-center">My Pastes</h5>
                <div class="list-group">
                {{range .Pastes}}
                    {{template "paste.html" .}}
                {{end}}
                </div>
                {{if and .Pages (gt (len .Pages) 1)}}
                <nav class="mt-3" aria-label="...">
                    <ul class="pagination justify-content-center">
                        {{range .Pages}}
                            <li class="page-item{{if .IsCurrent}} active{{end}}"><a class="page-link" href="/l/?skip={{.Offset}}">{{.Number}}</a></li>
                        {{end}}
                    </ul>
                </nav>
                {{end}}
            {{else}}
                <h1 class="display-6 text-center">Nothing to see here yet.</h1>
            {{end}}
        </div>
        <div class="col-3">
            {{template "sidebar.html" .}}
        </div>
    </div>

    {{template "footer.html" .}}

</body>
</html>
