<div class="card text-dark bg-white shadow-sm">
    <div class="card-header">
        My Pastes (last 10)
    </div>
    {{if .}}
    <div class="list-group list-group-flush">
        {{range .}}
            {{template "paste.html" .}}
        {{end}}
    </div>
    <div class="card-footer text-center">
        <a href="/p/list" class="btn btn-outline-secondary btn-sm">All my pastes</a>
    </div>
    {{else}}
    <div class="card-body">
        <p class="card-text text-muted"><em>You will see all your pastes here once you login.</em></p>
    </div>
    {{end}}
</div>