<div class="card text-dark bg-white">
    <div class="card-header">
        {{if .User.Name}}
            My Pastes (last 10)
        {{else}}
            Public Pastes (last 10)
        {{end}}
    </div>
    {{if .UserPastes}}
    <div class="list-group list-group-flush">
        {{range .UserPastes}}
            {{template "paste.html" .}}
        {{end}}
    </div>
    <div class="card-footer text-center">
        {{if .User.Name}}
            <a href="/l/" class="btn btn-outline-secondary btn-sm">All my pastes</a>
        {{else}}
            <a href="/a/" class="btn btn-outline-secondary btn-sm">Archive</a>
        {{end}}
    </div>
    {{else}}
    <div class="card-body">
        <p class="card-text text-muted"><em>You will see all your pastes here once you login.</em></p>
    </div>
    {{end}}
</div>