name: Test

# This workflow will run on main branch and on any pull requests targeting main
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test.yml'
      - 'cmd/**'
      - 'src/**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: |
          make test-coverage
        env:
          POSTGRES_HOST: postgres
          POSTGRES_PORT: 5432

      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v1.0.0
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.txt

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
        options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5